        <div class="col-12">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Procurar por..."
            name="search"
            aria-label="Search"
            id="btnSearch"
            autofocus
          />
        </div>

        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                <i class="bi bi-sort-alpha-down"> Ordenação</i>
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse show"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                {{! ordem   }}
                <div class="col-12">
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions1"
                      id="inlineRadio1"
                      value="emissao, id"
                      checked
                    />
                    <label
                      class="form-check-label"
                      for="inlineRadio1"
                    >Emissão</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions1"
                      id="inlineRadio2"
                      value="vencimentoem, nome_categoria, nome_pessoa, lanca_desc"
                    />
                    <label
                      class="form-check-label"
                      for="inlineRadio2"
                    >Vencimento</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions1"
                      id="inlineRadio3"
                      value="nome_categoria, nome_pessoa, lanca_desc"
                    />
                    <label
                      class="form-check-label"
                      for="inlineRadio3"
                    >Categoria</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions1"
                      id="inlineRadio3"
                      value="nome_pessoa, lanca_desc"
                    />
                    <label
                      class="form-check-label"
                      for="inlineRadio3"
                    >Entidade</label>
                  </div>
                </div>

                {{! direção }}
                <div class="col-12">
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions2"
                      id="inlineRadio21"
                      value="asc"
                    />
                    <label
                      class="form-check-label"
                      for="inlineRadio1"
                    >Crescente<i class="bi bi-arrow-up-short"></i></label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions2"
                      id="inlineRadio22"
                      value="desc"
                      checked
                    />
                    <label
                      class="form-check-label"
                      for="inlineRadio2"
                    >Decrescente<i class="bi bi-arrow-down-short"></i></label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                <i class="bi bi-filter"> Filtros</i>          <!--  Filtros -->
              </button>
            </h2>
            <div
              id="collapseTwo"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">

                <h6>Tipo de Lançamento</h6>
                <div class="p-2 border mb-2 rounded">
                  {{! T, D ou R }}
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptionsT"
                      id="inlineRadioTT"
                      value="T"
                      checked
                    />
                    <label
                      class="form-check-label"
                      for="inlineRadio1"
                    >Todos</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptionsT"
                      id="inlineRadioTD"
                      value="D"
                    />
                    <label
                      class="form-check-label"
                      for="inlineRadio1"
                    >Despesas</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptionsT"
                      id="inlineRadioTR"
                      value="R"
                    />
                    <label
                      class="form-check-label"
                      for="inlineRadio2"
                    >Receitas</label>
                  </div>
                </div>

                {{!-- Situação do lançamento (Em Todos, abertos ou Quitados) --}}
                <h6>Situação</h6>
                <div class="p-2 border mb-2 rounded">
                  {{! T, A ou Q }}
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptionsS"
                      id="inlineRadioST"
                      value="T"
                      checked
                    />
                    <label
                      class="form-check-label"
                      for="inlineRadioA"
                    >Todos</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptionsS"
                      id="inlineRadioSA"
                      value="A"
                    />
                    <label
                      class="form-check-label"
                      for="inlineRadioA"
                    >Em aberto</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptionsS"
                      id="inlineRadioSQ"
                      value="Q"
                    />
                    <label
                      class="form-check-label"
                      for="inlineRadioQ"
                    >Quitados</label>
                  </div>
                </div>

                {{! Período do filtro }}
                {{! Data de emissão ou vencimento  }}

                {{! Emissao, Vencimento ou pago }}
                {{! <div class="col-12"> }}
                <h6>Período</h6>
                <div class="p-2 border border rounded mb-2">
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="dtFiltro"
                      id="dtEmissao"
                      value="E"
                      selected
                    />
                    <label
                      class="form-check-label"
                      for="inlineRadio1"
                    >Emissão</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="dtFiltro"
                      id="dtVenc"
                      value="V"
                    />
                    <label
                      class="form-check-label"
                      for="inlineRadio2"
                    >Vencimento</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="dtFiltro"
                      id="dtPago"
                      value="P"
                    />
                    <label
                      class="form-check-label"
                      for="inlineRadio2"
                    >Pago</label>
                  </div>

                  <div class="col-12 mt-1">
                    <div class="form-floating mb-2">
                      <input
                        onfocus="myFunction('option1','option2')"
                        type="date"
                        class="form-control"
                        id="iddtini"
                        name="dtinicial"
                        pattern="[0-9]{2}-[0-9]{2}-[0-9]{4}"
                        placeholder="dd/mm/aaaa"
                        required
                        value="getToday()"
                      />
                      <label for="floatingInput">Data inicial</label>
                    </div>
                  </div>

                  <div class="col-12 mt-1">
                    <div class="form-floating mb-1">
                      <input
                        onfocus="myFunction('option1','option2')"
                        type="date"
                        class="form-control"
                        id="idDtFim"
                        name="dtfinal"
                        pattern="[0-9]{2}-[0-9]{2}-[0-9]{4}"
                        placeholder="dd/mm/aaaa"
                        required
                      />
                      <label for="floatingInput">Data final</label>
                    </div>
                  </div>
                </div>

                <div class="col-12">
                  {{! // Categoria }}
                  <div class="input-group mb-3">
                    <label
                      class="input-group-text"
                      for="inputGroupSelect01"
                    >Categoria</label>
                    <select
                      class="form-select"
                      aria-label="Default select example"
                      id="filterCat"
                      name="filterCat"
                    >
                      <option value="0" selected>Selecionar...</option>
                      {{#each cat}}
                        <option value="{{this.id}}">{{this.descricao}}</option>
                        {{!                     <option value="2">À crédito</option>
                    <option value="3">Estorno</option>
                    <option value="4">Estornado</option> }}
                      {{/each}}
                    </select>
                  </div>
                  {{! // Entidade }}
                  <div class="input-group mb-3">
                    <label
                      class="input-group-text"
                      for="inputGroupSelect01"
                    >Entidade</label>
                    <select
                      class="form-select"
                      aria-label="Default select example"
                      id="filterEnt"
                      name="filterEnt"
                    >
                      <option value="0" selected>Selecionar...</option>
                      {{#each ent}}
                        <option value="{{this.id}}">{{this.nome}}</option>
                      {{/each}}
                    </select>
                  </div>
                  {{! // Operação }}
                  <div class="input-group mb-3">
                    <label
                      class="input-group-text"
                      for="inputGroupSelect01"
                    >Operação</label>
                    <select
                      class="form-select"
                      aria-label="Default select example"
                      id="filterOpe"
                      name="filterOpe"
                    >
                      <option value="0" selected>Selecionar...</option>
                      {{#each ope}}
                        <option value="{{this.id}}">{{this.descricao}}</option>
                        {{!                     <option value="2">À crédito</option>
                    <option value="3">Estorno</option>
                    <option value="4">Estornado</option> }}
                      {{/each}}
                    </select>
                  </div>
                  {{! // banco }}
                  <div class="input-group mb-3">
                    <label
                      class="input-group-text"
                      for="inputGroupSelect01"
                    >Banco</label>
                    <select
                      onfocusin="getBanco()"
                      class="form-select"
                      aria-label="Default select example"
                      name="filterBan"
                      id="filterBan"
                    >
                      <option value="0" selected>Selecionar...</option>
                      {{#each ban}}
                        <option value="{{id}}">{{nome}}</option>
                        {{! <option value="2">Banco do Brasil</option> }}
                      {{/each}}
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 text-end">
          <button class="btn btn-outline-dark" type="submit">Procurar</button>
        </div>
