{{#if removedBanco}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{removedBanco}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

<form class="d-flex" method="POST" action="/banco" novalidate>
  <input
    class="form-control me-2"
    type="search"
    placeholder="Procurar"
    name="search"
    aria-label="Search"
  />
  <button class="btn btn-outline-dark" type="submit">Procurar</button>
</form>

<div class="row">
  <div class="col-6">
    <h1>Bancos</h1>
  </div>
  <div class="col-6 d-flex justify-content-end">
    <a href="/addbanco" type="button" class="btn btn-primary align-self-center">+ Nova</a>
  </div>
</div>

<div class="table-responsive">
<table class="table table-bordered table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col" class="text-end">Saldo anterior</th>
      <th scope="col" class="text-end">Saldo</th>
      <th scope="col" class="text-end">Action</th>
    </tr>
  </thead>
  <tbody>

    {{#each rows}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.nome}}</td>
      <td class="text-end">{{this.saldo_anterior}}</td>
      <td class="text-end">{{this.fsaldo}}</td>
      <td class="text-end">
        <a href="/viewbanco/{{this.id}}" type="button" class="btn btn-light btn-sm"><i class="bi bi-eye"></i> Ver</a>
        <a href="/editbanco/{{this.id}}" type="button" class="btn btn-light btn-sm"><i class="bi bi-pencil"></i>
          Editar</a>
      </td>
    </tr>
    {{/each}}

  </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td></td>
        <th scope="row" class="text-end">Valor Total</th>
        <td class="text-end">{{total}}</td>
        <td></td>
      </tr>
    </tfoot>
</table>
</div>