{{#if removedCategoria}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{removedCategoria}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

<form class="d-flex" method="POST" action="/categoria" novalidate>
  <input
    class="form-control me-2"
    type="search"
    placeholder="Procurar"
    name="search"
    aria-label="Search"
  />
  <button class="btn btn-outline-dark" type="submit">Procurar</button>
</form>

<div class="row">
  <div class="col-6">
    <h1>Categorias</h1>
  </div>
  <div class="col-6 d-flex justify-content-end">
    <a href="/addcategoria" type="button" class="btn btn-primary align-self-center">+ Nova</a>
  </div>
</div>

<div class="table-responsive">
<table class="table table-bordered table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col" class="text-center"><button type="button" class="btn btn-light" id="btnId">#</button></th>                           {{!-- <i id="btnOrdId" class="bi bi-sort-numeric-up"></i> --}}  {{!-- <i class="bi bi-sort-numeric-up-alt"></i> --}}
      <th scope="col"><button type="button" class="btn btn-light" id="btnDesc">Descrição <i id="btnOrdDesc" class="bi bi-sort-alpha-down"></i></button></th>   {{!-- <i class="bi bi-sort-alpha-down-alt"></i> --}}
      <th scope="col" class="text-end">Ações</th>
    </tr>
  </thead>
  <tbody>

    {{#each rows}}
    <tr>
      <th scope="row" class="text-center">{{this.id}}</th>
      <td>{{this.descricao}}</td>
      <td class="text-end">
        <a href="/viewcategoria/{{this.id}}" type="button" class="btn btn-light btn-sm"><i class="bi bi-eye"></i> Ver</a>
        <a href="/editcategoria/{{this.id}}" type="button" class="btn btn-light btn-sm"><i class="bi bi-pencil"></i>
          Editar</a>
      </td>
    </tr>
    {{/each}}

  </tbody>
</table>
</div>

<script>
  btnDesc = document.getElementById("btnDesc");
  btnId = document.getElementById("btnId");

  btnId.addEventListener('click', () => {
    iId = document.getElementById("btnOrdId")
    if(!iId) {
      btnId.innerHTML = `# <i id="btnOrdId" class="bi bi-sort-numeric-up"></i>`
    } else {
      {{!-- console.log(iDesc.classList.contains("bi bi-sort-numeric-up-alt")) --}}
      if(iId.classList.contains("bi-sort-numeric-up-alt")) {
        iId.classList.remove("bi-sort-numeric-up-alt");
        iId.classList.add("bi-sort-numeric-up");
      } else {
        iId.classList.remove("bi-sort-numeric-up");
        iId.classList.add("bi-sort-numeric-up-alt");
      }
    }
  });

  btnDesc.addEventListener('click', () => {
    iDesc = document.getElementById("btnOrdDesc")
    if(!iDesc) {
      {{!-- btnId.innerHTML =  --}}
    }
    console.log(iDesc.classList.contains("bi-sort-alpha-down"))
    if(iDesc.classList.contains("bi-sort-alpha-down")) {
    iDesc.classList.remove("bi-sort-alpha-down");
    iDesc.classList.add("bi-sort-alpha-down-alt");
    } else {
    iDesc.classList.remove("bi-sort-alpha-down-alt");
    iDesc.classList.add("bi-sort-alpha-down");
    }
  });
  
</script>