{{!-- < class="fs-6"> --}}
  {{#if removedLanca}}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      Lançamento foi deletado.
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
  {{/if}}

  {{#if alert}}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{alert}}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
  {{/if}}

  {{#if error}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{error}}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
  {{/if}}

  {{!-- <p class="d-inline-flex gap-1"> --}}

<div class="d-flex justify-content-evenly">
  <h2>Lançamentos</h2>
</div>

    <a
      class="btn btn-primary no-print"
      data-bs-toggle="collapse"
      href="#collapseSearch"
      role="button"
      aria-expanded="false"
      aria-controls="collapseExample"
      id="lupa"
    >
      <i class="bi bi-search" title="Pesquisa, filtros e ordens"></i>
    </a>
    <a
      class="btn btn-primary no-print"
      href="/lanca"
      role="button"
      aria-expanded="false"
      aria-controls="collapseExample"
    >
      <i class="bi bi-eraser" title="Limpar filtros e ordens"></i>
    </a>
  {{!-- </p> --}}
  <div class="collapse no-print" id="collapseSearch">
    <div class="card card-body">
      <form
        class="row row-cols-lg-auto g-3 align-items-center"
        method="POST"
        action="/lanca"
        novalidate
        autofocus
      >
        {{> ordem-filtro}}
       </form>

    </div>
  </div>

  <div class="row">

    <div class="d-flex justify-content-end gap-1">
      <a
        href="/addlanca"
        type="button"
        class="btn btn-primary align-self-center no-print"
      ><i class="bi bi-plus"></i></a>
    {{!-- </div>
    <div class="d-flex justify-content-evenly"> --}}
      <button
        title="Imprime o que está na tela"
        id="btnprint"
        type="submit"
        class="btn btn-primary align-self-center no-print"
      ><i class="bi bi-printer"></i> </button>
    {{!-- </div>
    <div class="d-flex justify-content-evenly"> --}}
      <button
        title="Baixar todos os lançamentos"
        id="btnbaixaall"
        type="submit"
        class="btn btn-primary align-self-center no-print"
        data-rota="/baixarlancaall"
        disabled
      ><i class="bi bi-cash"></i> </button>
    {{!-- </div> --}}
  </div>

  <div class="table-responsive-sm mt-1">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col"><input type="checkbox" name="all" title="Selecionar todos os lançamentos listados">{{!-- <i class="bi bi-check2-square"> --}}</i></th>
          <th scope="col">#</th>
          <th scope="col">Tp</th>
          <th scope="col">Categoria</th>
          <th scope="col">Entidade</th>
          <th scope="col">Descrição</th>
          <th scope="col" class="text-end">Valor do Lançamento</th>
          <th scope="col">Emissão</th>
          <th scope="col">Vencimento</th>
          <th scope="col">Dias</th>
          <th scope="col">Quitado em</th>
          <th scope="col">Banco</th>
          <th scope="col">Operação</th>
          <th scope="col">Lanc. Orig.</th>
          <th scope="col" class="text-end">Ver</th>
          <th scope="col" class="text-end">Editar</th>
        </tr>
      </thead>
      <tbody>

        {{#each rows}}
          {{#if lanca_state}}
            <tr class="{{this.lanca_state}}">
              {{else}}
            <tr>
          {{/if}}
            <td><input type="checkbox" id="{{this.id}}" onclick="clica_checkbox(this)"></td>
            <th scope="row">{{this.id}}</th>
            <td>{{this.tipo}}</td>
            <td>{{this.nome_categoria}}</td>
            <td>{{this.nome_pessoa}}</td>
            <td>{{this.lanca_desc}}</td>
            <td class="text-end">{{this.fvalor}}</td>
            <td>{{this.emissao}}</td>
            <td>{{this.vencimento_em}}</td>
            <td>{{this.dias}}</td>
            <td>{{this.pago_em}}</td>
            <td>{{this.nome_banco}}</td>
            <td>{{this.descricao_ope}}</td>
            <td>{{this.id_origem}}</td>
            <td class="text-center">
              <a
                href="/viewlanca/{{this.id}}"
                type="button"
                class="btn btn-light btn-sm list-inline-item"
              ><i class="bi bi-eye"></i> </a>
              {{!--               <a 
                href="/dellanca/{{this.id}}"
                type="button"
                class="btn btn-light btn-sm list-inline-item"
              ><i class="bi bi-file-minus"></i></a> --}}
            </td>
            <td class="text-center">
              <a
                href="/editlanca/{{this.id}}"
                type="button"
                class="btn btn-light btn-sm list-inline-item"
              ><i class="bi bi-pencil"></i>
              </a>
            </td>
          </tr>

        {{/each}}

      </tbody>
      <tfoot>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <th scope="row" class="text-end">Receitas</th>
          <td class="text-end">{{totalR}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <th scope="row" class="text-end">Totais</th>
          <th scope="row" class="text-end">Despesas</th>
          <td class="text-end">{{totalD}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <th scope="row" class="text-end">Saldo </th>
          <td class="text-end">{{lanSaldo}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tfoot>
    </table>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item disabled">
          <a
            class="page-link"
            href="#"
            tabindex="-1"
            aria-disabled="true"
          >Anterior</a>
        </li>
        <li class="page-item disabled"><a class="page-link" href="#">1</a></li>
        {{!     <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li> }}
        <li class="page-item disabled">
          <a class="page-link" href="#">Próxima</a>
        </li>
      </ul>
    </nav>
  </div>
{{!-- </div> --}}


<style type="text/css">
  {{!-- @media screen and (max-width: 600px) { div.tabela { font-size: 30px; } } --}}
  @media print {
    * {
      background: transparent !important;
      color: #000 !important;
      text-shadow: none !important;
      filter: none !important;
      -ms-filter: none !important;
    }
    body {
      margin: 0;
      padding: 0;
    }
    a, title, nav, footer, video, .audio, object, embed {
      display: none;
    }
    .print {
      display: block;
    }
    .no-print {
      display: none;
    }
  }
</style>

<script>

  elBtnPrint = document.getElementById("btnprint")
  elBtnPrint.addEventListener("click", function(){
  window.print();
  });

  var lista_id = lista_checked_id = []


  function clica_checkbox(elemento) {
    if (elemento.checked) {
      lista_id.push(elemento.id)
    } else {
      lista_id = lista_id.filter((x) => x !== elemento.id)
    }
    btn = document.getElementById('btnbaixaall')
    btn.disabled = !(lista_id.length > 0) 
    {{!-- console.log(lista_id.length, btn) --}}
  }

  document.querySelector("input[name=all]").onclick = function() {
    var lista = document.querySelectorAll("input[type=checkbox]:not([name=all])");
    for ( var i = 0 ; i < lista.length ; i++ ) {
        lista[i].checked = lista[i].checked ? false : true;
        if(lista[i].checked) {
          lista_id.push(lista[i].id)
          } else {
            lista_id = lista_id.filter((x) => x !== lista[i].id)
            }
        
    }
    document.getElementById('btnbaixaall').disabled = !(lista_id.length > 0) 
  {{!-- console.log(lista_id) --}}
  };

  document.getElementById("btnbaixaall").addEventListener('click', () => {
    var lista_checked = document.querySelectorAll("input[type=checkbox]:not([name=all])");
    lista_checked_id = []
    for ( var i = 0 ; i < lista_checked.length ; i++ ) {
        if(lista_checked[i].checked)
          lista_checked_id.push(lista_checked[i].id)
    }

    {{!-- console.log(">>>>>> lista_checked >>>>>>>>")
    console.log(lista_checked)

    console.log("lista_checked_id >>>>>>>>")
    console.log(lista_checked_id) --}} 

    let text = `Confirma baixar todos os lançamentos selecionados [${lista_checked_id}]?\n OK ou Cancelar.`;

   if (confirm(text) == true) {

    fetch("/baixarlancaall", {
      method: "post",
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },

      //make sure to serialize your JSON body
      body: JSON.stringify({
        lista_checked_id
      })
    })
    .then( (response) => { 
      //do something awesome that makes the world a better place
    });
  } else {
    text = "You canceled!";
  }
})

</script>
