
{{!-- <div class="fs-6"> --}}
  {{#if removedLanca}}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      Lançamento foi deletado.
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
  {{/if}}

  {{#if error}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{error}}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
  {{/if}}

  {{!-- <p class="d-inline-flex gap-1"> --}}
    <a
      class="btn btn-primary no-print"
      data-bs-toggle="collapse"
      href="#collapseSearch"
      role="button"
      aria-expanded="false"
      aria-controls="collapseExample"
      id="lupa"
    >
      <i class="bi bi-search" title="Pesquisa, filtros e ordens"></i>
    </a>
    <a
      class="btn btn-primary no-print"
      href="/lanca"
      role="button"
      aria-expanded="false"
      aria-controls="collapseExample"
    >
      <i class="bi bi-eraser" title="Limpar filtros e ordens"></i>
    </a>
  {{!-- </p> --}}
  <div class="collapse no-print" id="collapseSearch">
    <div class="card card-body">
      <form
        class="row row-cols-lg-auto g-3 align-items-center"
        method="POST"
        action="/lanca"
        novalidate
        autofocus
      >
        {{> ordem-filtro}}
       </form>

    </div>
  </div>

  <div class="row">
    <div class="col-9">
      <h1>Lançamentos</h1>
    </div>
    <div class="col-1 d-flex justify-content-end">
      <a
        href="/addlanca"
        type="button"
        class="btn btn-primary align-self-center no-print"
      ><i class="bi bi-plus"></i></a>
    </div>
    <div class="col-2 d-flex justify-content-end">
      <button
        title="Imprime o que está na tela"
        id="btnprint"
        type="submit"
        class="btn btn-primary align-self-center no-print"
      ><i class="bi bi-printer"></i> </button>
    </div>
  </div>

  <div class="table-responsive-sm">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Tp</th>
          <th scope="col">Categoria</th>
          <th scope="col">Entidade</th>
          <th scope="col">Descrição</th>
          <th scope="col" class="text-end">Valor do Lançamento</th>
          <th scope="col">Emissão</th>
          <th scope="col">Vencimento</th>
          <th scope="col">Quitado em</th>
          <th scope="col">Banco</th>
          <th scope="col">Operação</th>
          <th scope="col">Lanc. Orig.</th>
          <th scope="col" class="text-end">Ver</th>
          <th scope="col" class="text-end">Editar</th>
        </tr>
      </thead>
      <tbody>

        {{#each rows}}
          <tr>
            <th scope="row">{{this.id}}</th>
            <td>{{this.tipo}}</td>
            <td>{{this.nome_categoria}}</td>
            <td>{{this.nome_pessoa}}</td>
            <td>{{this.lanca_desc}}</td>
            <td class="text-end">{{this.fvalor}}</td>
            <td>{{this.emissao}}</td>
            <td>{{this.vencimento_em}}</td>
            <td>{{this.pago_em}}</td>
            <td>{{this.nome_banco}}</td>
            <td>{{this.descricao_ope}}</td>
            <td>{{this.id_origem}}</td>
            <td class="text-center">
              <a
                href="/viewlanca/{{this.id}}"
                type="button"
                class="btn btn-light btn-sm list-inline-item"
              ><i class="bi bi-eye"></i> </a>
              {{!--               <a 
                href="/dellanca/{{this.id}}"
                type="button"
                class="btn btn-light btn-sm list-inline-item"
              ><i class="bi bi-file-minus"></i></a> --}}
            </td>
            <td class="text-center">
              <a
                href="/editlanca/{{this.id}}"
                type="button"
                class="btn btn-light btn-sm list-inline-item"
              ><i class="bi bi-pencil"></i>
              </a>
            </td>
          </tr>
        {{/each}}

      </tbody>
      <tfoot>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <th scope="row" class="text-end">Receitas</th>
          <td class="text-end">{{totalR}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <th scope="row" class="text-end">Totais</th>
          <th scope="row" class="text-end">Despesas</th>
          <td class="text-end">{{totalD}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <th scope="row" class="text-end">Saldo </th>
          <td class="text-end">{{lanSaldo}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tfoot>
    </table>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item disabled">
          <a
            class="page-link"
            href="#"
            tabindex="-1"
            aria-disabled="true"
          >Anterior</a>
        </li>
        <li class="page-item disabled"><a class="page-link" href="#">1</a></li>
        {{!     <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li> }}
        <li class="page-item disabled">
          <a class="page-link" href="#">Próxima</a>
        </li>
      </ul>
    </nav>
  </div>
{{!-- </div> --}}


<style type="text/css">
  {{!-- @media screen and (max-width: 600px) { div.tabela { font-size: 30px; } } --}}
  @media print {
    * {
      background: transparent !important;
      color: #000 !important;
      text-shadow: none !important;
      filter: none !important;
      -ms-filter: none !important;
    }
    body {
      margin: 0;
      padding: 0;
    }
    a, title, nav, footer, video, .audio, object, embed {
      display: none;
    }
    .print {
      display: block;
    }
    .no-print {
      display: none;
    }
  }
</style>

<script>

  elBtnPrint = document.getElementById("btnprint")
  elBtnPrint.addEventListener("click", function(){
  window.print();
  });

</script>
