{{#if removedUser}}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{removedUser}}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
{{/if}}

<form class="d-flex" method="POST" action="/user" novalidate>
  <input
    class="form-control me-2"
    type="search"
    placeholder="Procurar"
    name="search"
    aria-label="Search"
  />
  <button class="btn btn-outline-dark" type="submit">Procurar</button>
</form>

<div class="row">
  <div class="col-6">
    <h1>Usuários</h1>
  </div>
  <div class="col-6 d-flex justify-content-end">
    <a href="/adduser" type="button" class="btn btn-primary align-self-center">+
      Novo</a>
  </div>
</div>

<div class="table-responsive">
<table class="table table-bordered table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Empresa</th>
      <th scope="col">Bnaco de dados</th>
      <th scope="col" class="text-end">Ação</th>
    </tr>
  </thead>
  <tbody>

    {{#each rows}}
      <tr>
        <th scope="row">{{this._id}}</th>
        <td>{{this.username}}</td>
        <td>{{this.email}}</td>
        <td>{{this.nome}}</td>
        <td>{{this.dbname}}</td>
        <td class="text-end">
          <a
            href="/viewuser/{{this._id}}"
            type="button"
            class="btn btn-light btn-sm"
          ><i class="bi bi-eye"></i> Ver</a>
          <a
            href="/edituser/{{this._id}}"
            type="button"
            class="btn btn-light btn-sm"
          ><i class="bi bi-pencil"></i>
            Editar</a>
        </td>
      </tr>
    {{/each}}

  </tbody>
</table>
</div>