<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/pessoa">Entidades</a></li>
    <li class="breadcrumb-item active" aria-current="page">Ver Entidade</li>
  </ol>
</nav>

{{#if alert}}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{alert}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{{/if}}

{{#if error}}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{error}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{{/if}}

<div class="view-user p-12">
  {{#each rows}}
    <div class="row mb-5">
      <div class="col text-center">
        <h3>{{this.nome}}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">Tipo</th>
              <th>Ação</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">{{this.nome}}</th>
              <td>{{this.tipo}}</td>
              <td>
               <button                   
              id="pessoaApagar"
                  class="btn btn-light btn-small"
                  data-bs-toggle="modal"
                  data-bs-target="#confirmModal"
                  data-rota="/delpessoa/{{this.id}}"
                  data-nome="{{this.nome}}"
                ><i class="bi bi-person-x"></i> Apagar</button>
             </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  {{/each}}
</div>

<script>
  document.getElementById("pessoaApagar").addEventListener('click', () => {
    const pessoaDeletar = document.getElementById("pessoaApagar");
    let btn_onclickConfirm = document.getElementById("btn-onclickConfirm");
    btn_onclickConfirm.attributes['onclick'].value = "window.location = document.querySelector('#pessoaApagar').dataset.rota";
    console.log(btn_onclickConfirm.attributes['onclick'].value);
    abreModal('confirmModalLabel','confirmModalBody','Apagar Entidade', `Confirma deletar
          ${pessoaDeletar.dataset.nome} ?`,'OK','confirmModal')
  })
</script>